@charset "UTF-8";

.foo {
  --some-variable: 12px;
  accent-color: hsl(41, 28.3%, 79.8%); /* custom-color-gold */
  align-content: center;
  align-items: flex-start;
  align-self: self-end; /* unconvertable value */
  animation: spin 1s linear infinite;
  appearance: none;
  aspect-ratio: 16 / 9;
  align-content: center; /* duplicate */
  align-content: flex-end; /* duplicate with another value */

  [aria-role='button'] {
    /* unconvertable aria selector */
    text-transform: uppercase;
    text-underline-offset: 1rem;
    top: 12px;
    touch-action: pan-left;
    transform: translateX(12px) translateY(0.5em) translateZ(0.5rem)
      scaleY(0.725) rotate(124deg);
    transform-origin: bottom right;
    transition: none;
  }

  &[aria-hidden='true'] {
    transition-delay: 150ms;
    transition-duration: 200ms;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transform: some invalid-transform;
    user-select: text;
    vertical-align: text-top;
    transform-origin: top;
  }

  &[aria-hidden='false'] {
    /* unconvertable aria selector */
    visibility: collapse;
    white-space: pre-line;
    width: 50%;
    will-change: transform;
    word-break: break-all;
    z-index: 40;
    transform: translateX(12px) translateY(-0.5em) skew(1deg, 3deg)
      scale(-0.75, 1.05) rotate(-0.25turn);
    transition: all 200ms ease;
  }

  .bar {
    padding: 2rem 1.5rem;
    padding-bottom: 0.25rem;
    padding-left: 12%;
    padding-right: 100vw;
    padding-top: 256px;
    page-break-after: avoid;
    page-break-before: left;
    page-break-inside: auto;
    transform: translate(10px 0.625rem) skew(2deg) scale(-0.75, -0.75)
      rotate(-45deg);
  }

  .baz {
    place-content: space-around;
    place-items: center;
    place-self: stretch;
    pointer-events: auto;
    position: relative;
    resize: horizontal;
    right: -128px;
  }

  div > [data-zoo] {
    padding: 0.5rem 1.5em 1px 25%;
    border-width: 1px;
    bottom: 100%;
  }
}

.bar {
  backdrop-filter: brightness(0.9) sepia(25%) blur(0);
  animation: some-animation 2s linear infinite; /* arbitary value */
  animation-delay: 200ms; /* unconvertable value */
  transform-origin: 12% 25.5%;
  transition-timing-function: cubic-bezier(0.23, 0, 0.25, 1);

  @media screen and (min-width: 1024px) {
    backdrop-filter: brightness(0.75) sepia(100%);
    background-attachment: local;
    background-blend-mode: difference;
    background-clip: padding-box;
    background-color: hsl(30, 51%, 22%);

    &[aria-disabled='true'] {
      background-image: linear-gradient(to top right, var(--tw-gradient-stops));
      background-origin: padding-box;
      background-position: left bottom;
      background-repeat: no-repeat;
      background-size: contain;
      background-attachment: initial;
      border-bottom-width: 0.125rem;
    }

    .loving & > .testing {
      background-image: url('/some-path/to/large_image.jpg');
      border: 4px solid hsl(41, 28.3%, 79.8%); /* custom-color-gold */
      border-bottom: 2em dashed hsla(210, 100%, 51%, 0.016); /* custom-color-200 */
      border-bottom-color: #ff0000;
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 2px;
      border-bottom-width: var(--some-variable);
      border-collapse: separate;
      border-color: hsla(0, 0%, 32%, 1); /* neutral-600 */
      border-top-color: some-invalid-color;
    }
  }

  &::after {
    border-left: 3px dashed;
    border-left-color: transparent;
    border-left-width: 1rem;
    border-radius: 9999px;
    border-right: 2px;
    border-right-color: aqua;
    border-right-width: 0.5rem;
    border-spacing: 5%;
  }

  &:after {
    border-style: dotted;
    border-top: some-invalid-value;
    border-top-color: current;
    border-top-left-radius: 0px;
    border-top-right-radius: 0.25%;
    border-top-width: 100vh;
    border-width: 8px;
    bottom: 100vw;
  }
}

.bar {
  --cyan: #06b6d4;
  box-decoration-break: slice;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  box-sizing: border-box;
  break-after: all;
  break-before: page;
  break-inside: avoid-column;
  caret-color: var(--cyan);
  height: 2.25rem;

  @media (min-width: 1280px) {
    clear: both;
    color: #d9f99d;
    column-gap: 12rem;
    columns: 3;
    content: none;
    cursor: pointer;
    display: none;
    fill: rgba(7, 89, 133, 1); /* sky-800 */
  }
}

@media screen and (min-width: 1280px) {
  .bar {
    filter: blur(4px) brightness(0.5) sepia(100%) contrast(1) hue-rotate(30deg)
      invert(0) opacity(0.05) saturate(1.5);
    flex: 1 1 auto;
    flex-basis: 0.75rem;
    flex-direction: column-reverse;
    flex-flow: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: wrap-reverse;
    float: right;
    font-size: 24px;
    font-smoothing: antialiased;
    font-style: italic;
    font-variant-numeric: ordinal;
    font-weight: 600;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .foo .baz {
    gap: 19px;
    grid: 'a' 200px 'b' max-content;
    grid-auto-columns: min-content;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    grid-column: span 3 / span 3;
    grid-column-end: 4;
    grid-column-gap: 3rem;
    grid-column-start: 3;

    > .foo-bar {
      grid-gap: 32px;
      grid-row: 1 / -1;
      grid-row-end: 2;
      grid-row-gap: 24px;
      grid-row-start: auto;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: repeat(5, minmax(0, 1fr));
      height: $some-invalid;
      isolation: isolate;
      justify-content: center;
      justify-items: flex-start;
      justify-self: end;
    }
  }
}

@supports (display: flex) {
  @media (min-width: 768px) {
    @media (prefers-reduced-motion: no-preference) {
      @media (max-width: 1024px) {
        .foo .baz {
          order: -123;
          left: 0.5rem;
          letter-spacing: 0.25rem;
          line-height: 1.375;
          list-style-position: inside;
          list-style-type: decimal;
          margin: 12px 24px -0.875rem;
          margin-bottom: -10px;
          margin-left: 2em;
          margin-right: 1vh;
          margin-top: 3vw;
          max-height: 100%;
          max-width: 96rem;
          min-height: fit-content;
          min-width: min-content;
          mix-blend-mode: color-dodge;
          object-fit: fill;
          object-position: right top;

          > .foo-bar {
            opacity: 0.2;
            order: -9999;
            outline: 4px dashed rgb(254, 240, 138); /* yellow-200 */
            outline-color: #65a30d; /* lime-600 */
            outline-offset: 2px;
            outline-style: dotted;
            outline-width: 0.125rem;
            overflow: hidden;
            overflow-wrap: break-word;
            overflow-x: scroll;
            overflow-y: visible;
            overscroll-behavior: contain;
            overscroll-behavior-x: auto;
            overscroll-behavior-y: none;
          }
        }
      }
    }
  }
}

#some-id {
  opacity: 0.4;
  order: 9999;
  outline: none;
  outline-color: #134e4a; /* teal-900 */
  outline-offset: 2px;
  outline-style: groove;
  outline-width: 0.5rem;
}

@supports (display: block) {
  #some-id {
    row-gap: 320px;
    scroll-behavior: smooth;
    scroll-margin: 160px;
    scroll-margin-bottom: 2rem;
    scroll-margin-left: 0.5rem;
    scroll-margin-right: 1.5em;
  }
}

@supports (scroll-snap-align: end) {
  .foo .baz {
    scroll-margin-top: 12%;
    scroll-padding: 100px;
    scroll-padding-bottom: 1.25rem;
    scroll-padding-left: 0.875rem;
    scroll-padding-right: 10vw;
    scroll-padding-top: 10em;
    scroll-snap-align: end;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    text-decoration: line-through;
  }
}

div > [data-zoo] {
  stroke: black;
  stroke-width: 2;
  table-layout: fixed;
  text-align: justify;
  text-decoration: underline #123456 dashed 4px; /* custom-color-100 */
  text-decoration-color: hsl(41, 28.3%, 79.8%); /* custom-color-gold */
  text-decoration-line: line-through;
  text-decoration-style: dotted;
  text-decoration-thickness: 0.5rem;
  text-indent: 0.125rem;
  text-overflow: ellipsis;
}
